html, body
  position relative
  width 100%
  height 100%
  float left

body

  > .navbar
    margin 0
    padding 0
    border 0
    background-color #C644FC

    .navbar-toggle
      border-color #eee

    .navbar-toggle:hover,
    .navbar-toggle:focus
      background-color #5856D6

    .navbar-brand
      color #eee

    .navbar-nav > li > a
      color #eee

    .navbar-collapse
      border-color #eee

  > .container
    position relative
    padding 0px 10px 50px

    > .row
      margin 0 -10px

      // > #list
      // > #map
      // > #tool

  #main
    height 100%
    top -50px
    padding 50px 0 0

    .map_canvas
      height 100%

    .infoWindow

      img
        max-width 100%

    .tool
      position absolute
      top 50px
      padding 10px 10px 0
